.slide {
    max-width: 1240px;
    width: 1240px;
    height: 415px;
    position: relative;
    border-radius: 25px;
    transition: ease-in-out .5s all;
    margin-top: 20px;
    
    .pictures {
        object-fit: cover;
        border-radius: inherit;
        width: 100%;
        height: 100%;
        position: center;
    }

    .leftarrow {
        position: absolute;
        left: 23px;
        top : 156px
    }

    .rightarrow {
        position: absolute;
        right: 23px;
        top: 156px;
    }
}


@media screen and (max-width:430px) {
    .slide {
        width: 100%;
        height: 255px;

        .leftarrow {
            height: 19.8px;
            width: 11.67px;
            left: 7px;
            top: 127.5px;
        }

        .rightarrow {
            height: 19.8px;
            width: 11.67px;
            right: 7px;
            top: 127.5px;
        }
    }
}

@media screen and (min-width:431px) and (max-width:920px) {
    .slide {
        width: 100%;
        height: 255px;

        .leftarrow {
            height: 19.8px;
            width: 11.67px;
            left: 7px;
            top: 127.5px;
        }

        .rightarrow {
            height: 19.8px;
            width: 11.67px;
            right: 7px;
            top: 127.5px;
        }
    }
}

@media screen and (min-width:921px) and (max-width:1440px) {
    .slide {
        width: 100%;
    }
}

