.bannerHome {
    background-image: url("../assets/Chezvousimg.svg");
    border-radius: 25px;
    margin: 63px 0 43px;
    height: 223px;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-blend-mode: darken;
    background-color: rgba($color: #000000, $alpha: 0.2);
    

    p {
        font-size: 48px;
        color: white;
        font-family: Montserrat,sans-serif;
    }

}