header {
    padding: 40px 100px 0;
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

}

footer {
    width: 100%;
    background: black;
    padding-bottom: 29px;
    img {
        margin-top: 66px;
    }
    p {
        color: white;
        
    }
    }
